.notification-modal .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.notification-modal .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.notification-modal .modal-footer {
    border-top: 1px solid #dee2e6;
}

.notification-modal .modal-title {
    color: #495057;
}

.notification-modal .modal-body {
    padding: 20px;
    font-size: 1.1em;
    color: #212529;
}